<tab-list>
    <screening-tab tabName="Pending" [isActive]="true" >
        <patient-to-call patientName="John Doe" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="John Doe" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Brenden Bone" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Yvonne Shields" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Lynn Mcnamara" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Aoife Whitfield" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Mindy Randall" patientDate="27/4/20"></patient-to-call>

    </screening-tab>

    <screening-tab tabName="Ward" [isActive]="false">
        <patient-to-call patientName="Lynn Mcnamara" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Aoife Whitfield" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Mindy Randall" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Yvonne Shields" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Lynn Mcnamara" patientDate="27/4/20"></patient-to-call>
    </screening-tab>
  
    <screening-tab tabName="ICU" [isActive]="false">
        <patient-to-call patientName="Brenden Bone" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Yvonne Shields" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Brenden Bone" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
    </screening-tab>
  
    <screening-tab tabName="Healthy" [isActive]="false">
        <patient-to-call patientName="Mindy Randall" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Yvonne Shields" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Amira Castaneda" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Destiny Payne" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Yvonne Shields" patientDate="27/4/20"></patient-to-call>
        <patient-to-call patientName="Lynn Mcnamara" patientDate="27/4/20"></patient-to-call>
    </screening-tab>

    
</tab-list>