.parent{
  background-image : url('../../../assets/bg-pattern.svg');
  background-repeat: no-repeat;
}


.heading{
  color:white;
  font-size:1.4rem;
  padding-left:1rem;
  
}


.form-body{
  border-top:1px solid transparent;
  margin-top:6em;
}

.center {
  margin: auto;
  /* width: 60%; */
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  text-align: center;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

div.validation-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
