<div class="parent">
  <p class="heading">
    Registration
  </p>
  <div class="form-body"> 
    <div class="center row">
      <div class="col-xs-5">
        <input
          name="options"
          [(ngModel)]="options"
          type="radio"
          value="As patient"
        />
        <label class="radio-inline"> As patient </label>
      </div>

      <div class="col-xs-5">
        <input
          name="options"
          [(ngModel)]="options"
          type="radio"
          value="As Clinician"
        />
        <label>As Clinician</label>
      </div>
    </div>

    <div *ngIf="options === 'As patient'">
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group">
          <input
            name="firstName"
            #firstName="ngModel"
            [(ngModel)]="formData.firstName"
            class="form-control col-xs-12 col-md-12"
            placeholder="First Name"
          />
        </div>

        <div class="form-group">
          <input
            name="lastName"
            #lastName="ngModel"
            [(ngModel)]="formData.lastName"
            class="form-control col-xs-12 col-md-12"
            placeholder="last Name"
          />
        </div>

        <div class="form-group">
          <input
            name="city"
            #city="ngModel"
            [(ngModel)]="formData.city"
            class="form-control col-xs-12 col-md-12"
            placeholder="City"
          />
        </div>

        <div class="form-group">
          <input
            name="state"
            #state="ngModel"
            [(ngModel)]="formData.state"
            class="form-control col-xs-12 col-md-12"
            placeholder="State/Province"
          />
        </div>

        <div class="form-group">
          <input
            name="zipCode"
            #zipCode="ngModel"
            [(ngModel)]="formData.zipCode"
            class="form-control col-xs-12 col-md-12"
            placeholder="Zip Code"
            type="number"
          />
        </div>

        <div class="form-group">
          <input
            name="mobile"
            #mobile="ngModel"
            [(ngModel)]="formData.mobile"
            class="form-control col-xs-12 col-md-12"
            placeholder="Mobile"
            type="number"
          />
        </div>

        <div class="form-group">
          <input
            name="email"
            #email="ngModel"
            [(ngModel)]="formData.email"
            class="form-control col-xs-12 col-md-12"
            placeholder="Email Id"
            type="email"
          />
        </div>

        <div class="form-group">
          <input
            name="age"
            #age="ngModel"
            [(ngModel)]="formData.age"
            class="form-control col-xs-12 col-md-12"
            placeholder="Age"
          />
        </div>

        <div class="form-group col-md-6">
          <label for="sex" style="margin-right: 10px;">Sex</label>
          <label class="radio-inline">
            <input
              name="sex"
              #male="ngModel"
              [(ngModel)]="formData.male"
              type="radio"
              value="Male"
            />
            Male
          </label>

          <label class="radio-inline">
            <input
              name="sex"
              #female="ngModel"
              [(ngModel)]="formData.female"
              type="radio"
              value="Female"
            />
            Female
          </label>
        </div>

        <div class="form-group">
          <input
            name="password"
            #password="ngModel"
            [(ngModel)]="formData.password"
            class="form-control col-xs-12 col-md-12"
            placeholder="password"
            type="password"
          />
        </div>

        <div class="form-group">
          <input
            name="password"
            #password="ngModel"
            [(ngModel)]="formData.password"
            class="form-control col-xs-12 col-md-12"
            placeholder="Confirm Password"
            type="password"
          />
        </div>

        <div class="form-group">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-lg btn-block btn-info"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="options === 'As Clinician'">
  <app-clinician-registration></app-clinician-registration>
</div>
