<div id="patient-container">
  <div class="patient-header">
    <fa-icon
      [icon]="faArrowLeft"
      id="back-arrow"
      (click)="navigateBack()"
    ></fa-icon>
    <span id="title">Patient Details</span>
  </div>
  <div class="patient-detail">
    <div class="patient-image">
      <img src="../../../assets/userImage.png" />
    </div>
    <div class="patient-info">
      <label> Annie Hall </label>
      <!-- <span> | </span> -->
      <span id="age-span"> <span id="pillar"> |</span> 29 years </span>
      <span class="info-label">Submitted: </span>
      <label>06/20/2020</label>
      <span class="info-label">Location: </span>
      <span> 690 west Albany St. Lawrence, NJ 08648</span>
    </div>
  </div>
  <div class="assestment-report">
    <label class="label-bold">Assessment Report:</label>
    <p class="risk-meter-text">
      <span>Covid-19 Risk Meter</span><span>High Risk</span>
    </p>
    <div class="risk-meter-image">
      <img src="../../../assets/covidMeter.PNG" />
    </div>


    <div class="tab-list-container">
      <ul class="tab-list">
        <li class="tab">1</li>
        <li class="tab active-tab">2</li>
        <li class="tab">3</li>
        <li class="tab">4</li>
      </ul>
    </div>

    <p>
      During past 14 days: Have you been outside the USA or contacted many
      people or worked/presented at a health facility
    </p>
    <label class="container-chk"
      >Yes
      <input
        type="radio"
        name="radioChk"
        value="Yes"
        (change)="changeTravelHistory($event)"
        checked="checked"
      />
      <span class="checkmark"></span>
    </label>
    <label class="container-chk"
      >No
      <input
        type="radio"
        value="No"
        (change)="changeTravelHistory($event)"
        name="radioChk"
      />
      <span class="checkmark"></span>
    </label>
    <!-- <table style="border-spacing: 15px">
            <tr>
                <td>Body Temperature:</td><td class="label-bold">High Fever(>102 F)</td>
            </tr>
            <tr>
                <td>Symptoms:</td><td class="label-bold">Dry Cough , Sneezing , Moderate to Severe Cough , Breathlessness , Difficulty in Breathing , Persistent pain & pressure in chest</td>
            </tr>
            <tr>
                <td>Travel & Exposure:</td><td class="label-bold">Close contact with confirmed Covid-19 patient</td>
            </tr>
            <tr>
                <td>Per-Lying Conditions:</td><td class="label-bold">Diabetes , High Blood pressure , Heart Disease , Kidney Disease , Lung Disease</td>
            </tr>
            <tr>
                <td>Last 48 Hours Status</td><td class="label-bold">Worsened Considerably</td>
            </tr>
        </table> -->
  </div>
  <div class="feedback-section">
    <label class="label-bold">Feedback:</label>
    <div class="feedback-selecttion">
      <label class="container-chk"
        >Healthy
        <input
          type="radio"
          name="radio"
          value="Healthy"
          (change)="changeFeedback($event)"
          checked="checked"
        />
        <span class="checkmark"></span>
      </label>
      <label class="container-chk"
        >Virtual World
        <input
          type="radio"
          value="Virtual World"
          (change)="changeFeedback($event)"
          name="radio"
        />
        <span class="checkmark"></span>
      </label>
      <label class="container-chk"
        >ICU
        <input
          type="radio"
          value="ICU"
          (change)="changeFeedback($event)"
          name="radio"
        />
        <span class="checkmark"></span>
      </label>
    </div>
    <textarea
      class="feedback-text"
      [(ngModel)]="feedbackDiscription"
      rows="4"
      placeholder="Enter Feedback"
    ></textarea>
    <button type="button" class="submit-btn" (click)="submitSurvey()">
      Submit
    </button>
  </div>
</div>
