<div id="patient-container">
  <div class="title">
    <div class="wel-div">Welcome <span class="username-span">abdallah</span></div>
  </div>

  <div>      
    <ul>
      <li class="liItem">
        <div class="button-card">
          <div class="card-icon"><img src="../../../assets/images/icon_screening.svg"></div>
          <p class="dark-text">COVID19 Screening</p>
          <p class="light-text">Have a Quick Access</p>
          <a class="right-arrow-icon" routerLink=""><fa-icon [icon]="faChevronRight"></fa-icon></a>
        </div>
        <div class="button-card">
          <div class="card-icon"><img src="../../../assets/images/icon_clinician.svg"></div>
          <p class="dark-text">Available Clinicians</p>
          <p class="light-text">Connect for Advice</p>
          <a class="right-arrow-icon" routerLink="/available-clinicians"><fa-icon [icon]="faChevronRight"></fa-icon></a>
        </div>
        <div class="profile-settings-div">
          <button class="profile-settings-button profile-button" routerLink="/my-profile"><fa-icon [icon]="faUser"></fa-icon>My Profile</button>
          <button class="profile-settings-button settings-button" routerLink=""><fa-icon [icon]="faCog"></fa-icon>Settings</button>
        </div>
      </li>
    </ul>
  </div>
</div>