<div id="patient-container">
  <div id="title">
    <div class="wel-div">Welcome</div>
    <div class="username-div" id="">abdallah elgamal</div>
  </div>

  <div>      
    <ul>
      <li class="liItem">
        <div class="single-button-div screening-div">
          <button class="single-button-style" routerLink="">
            COVID19 Screening<br>
            Have a quick assess
          </button>
        </div>
        <div class="single-button-div available-clinician-div">
          <button class="single-button-style" routerLink="/available-clinicians">
            Available Clinician<br>
            Connect for Advice
          </button>
        </div>
        <!-- <div class="task-div">
          <div class="cont">
            <div>Task 1 Reminder</div>
            <div>Update 1</div>
            <div>Update 2</div>
          </div>
        </div> -->
        <div class="profile-settings-div">
          <button class="profile-settings-button" routerLink="">My Profile</button>
          <button class="profile-settings-button settings-button" routerLink="">Settings</button>
        </div>
      </li>
    </ul>
  </div>
</div>