<div class="container screen7">
  <div class="row">
    <div class="screening">
      <div class="main-content">
        <div class="screen-head">
          <span class="back-title">
            <img
              src="../../../assets/arrow-back screen.svg"
              alt="back-arrow"
              (click)="navigateBack()"
            />
            <p>Screening</p>
          </span>

          <div class="screen-step">
            <ul>
              <li #tab (click)="selectTab($event, 1)" class="active-tab">
                <span class="tick-mark t1" [hidden]="isShow">
                  <img src="../../../assets/Green Circle Tick.svg" />
                </span>
                <!-- <span [hidden] = “isShow” ></span> -->

                1
              </li>
              <li #tab (click)="selectTab($event, 2)">
                <span class="tick-mark t2" [hidden]="isShow1">
                  <img src="../../../assets/Green Circle Tick.svg" />
                </span>
                2
              </li>
              <li #tab (click)="selectTab($event, 3)">
                <span class="tick-mark t3" [hidden]="isShow2">
                  <img src="../../../assets/Green Circle Tick.svg" />
                </span>
                3
              </li>
              <li #tab (click)="selectTab($event, 4)">
                <span class="tick-mark t4" [hidden]="isShow3">
                  <img src="../../../assets/Green Circle Tick.svg" />
                </span>
                4
              </li>
            </ul>
          </div>
        </div>
        <div class="screen-carea">
          <div class="screen-que">
            <p class="p1">
              Do you have any of the following disease or risk factors?(Choose
              what is applicable to you)
            </p>
            <div class="radio-sec">
              <label class="container-chk">
                Yes
                <input
                  type="radio"
                  value="Yes"
                  (change)="ChangeVisiblity($event)"
                  name="radioChk"
                />
                <span class="checkmark"></span>
              </label>

              <label class="container-chk">
                No
                <input
                  type="radio"
                  value="No"
                  (change)="ChangeVisiblity($event)"
                  name="radioChk"
                />
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="comn-cnt">
              <p>
                If your answer is yes,Choose what is applicable to you from the
                following.
              </p>
            </div>
            <!-- <div class="radio-btn">
              <input type="radio" id="yes" name="travel" value="Yes" />
              <label for="Yes"> Yes</label>

              <input type="radio" id="no" name="travel" value="No" />
              <label for="Yes"> No</label>
            </div> 
 -->

            <div
              *ngIf="tabId == 1"
              class="questionarie-list {{ this.showQue }}"
            >
              <div *ngFor="let question of questionsForTab1">
                <question
                  [questionText]="question"
                  (answerEvent)="addData($event)"
                >
                </question>
              </div>
            </div>

            <div
              *ngIf="tabId == 2"
              class="questionarie-list {{ this.showQue }}"
            >
              <div *ngFor="let question of questionsForTab2">
                <question
                  [questionText]="question"
                  (answerEvent)="addData($event)"
                >
                </question>
              </div>
            </div>

            <div
              *ngIf="tabId == 3"
              class="questionarie-list {{ this.showQue }}"
            >
              <div *ngFor="let question of questionsForTab3">
                <question
                  [questionText]="question"
                  (answerEvent)="addData($event)"
                >
                </question>
              </div>
            </div>

            <div
              *ngIf="tabId == 4"
              class="questionarie-list {{ this.showQue }}"
            >
              <div *ngFor="let question of questionsForTab4">
                <question
                  [questionText]="question"
                  (answerEvent)="addData($event)"
                >
                </question>
              </div>
            </div>
          </div>
          <div class="scre-button">
            <input type="submit" name="Submit" (click)="submitData()" />
          </div>
        </div>
        <div #modal class="modalContainer modal-dialog-centered display-none">
          <div class="modalBody">
            <img
              src="../../../assets/Green Circle Tick.svg"
              class="tick-complt"
            />
            <p>
              Thank You for submitting the survey.We will get back to you soon.
            </p>
            <p>Have a nice day!</p>
            <button class="modalClose" (click)="closeModal()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ques1 ques-list">
                            <input type="checkbox" id ="check" class="ques-checkbox">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check" class="ques-checkbox">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check" class="ques-checkbox">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check" class="ques-checkbox">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div> -->
