
<div  class=" container screen7">
    <div class="row">
        <div class="col-4 screening">
            <div class="main-content">
                <div class="screen-head">
                    <span>
                        <img src="../../../assets/arrow-back screen.svg"  alt="back-arrow">
                    </span>
                    <p>Screening</p>
                    <div class="screen-step">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div>
                <div class="screen-carea">
                    
                    <div class="screen-que">    
                        <p class="p1">
                            Do you have any of the following disease or risk factors?(Choose what is applicable to you)
                        </p>
                        <div class="radio-btn">
                            <img src="../../../assets/radio select.svg">
                            <input type="radio" id="yes" name="travel" value="Yes">
                            <label for="Yes"> Yes</label>
                            <img src="../../../assets/radio deselect.svg">
                            <input type="radio" id="no" name="travel" value="No">
                            <label for="Yes"> No</label>
                        </div>
                        <div class="ques1 ques-list">
                            <input type="checkbox" id ="check">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                        <div class="ques2 ques-list">
                            <input type="checkbox" id ="check">
                            <p>
                                I share the same house with a person infected with the virus or is member of my family.
                            </p>
                        </div>
                    </div>
                    <div class="scre-button">
                        <input type="submit" name="Submit">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>