
<form [formGroup]="insertForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-group">
        <input 
            formControlName="firstName"
            name="firstName" 
            id="firstName"
            class="form-control col-xs-12 col-md-12"
            placeholder="First Name"
        />
    </div>

    <div class="form-group">
        <input
            formControlName="lastName"
            name="lastName" 
            id="lastName"
            class="form-control col-xs-12 col-md-12"
            placeholder="Last Name"
        />
    </div>

    <div class="form-group">
        <input
            formControlName="registrationNo"
            name="registrationNo" 
            id="registrationNo"
            class="form-control col-xs-12 col-md-12"
            placeholder="Registration Number"
        />
    </div>

    <div class="form-group">
        <input
            formControlName="city"
            name="city" 
            id="city"
            class="form-control col-xs-12 col-md-12"
            placeholder="City"
        />
    </div>

    <div class="form-group">
        <input
          formControlName="state"
          name="state" 
          id="state"
          class="form-control col-xs-12 col-md-12"
          placeholder="State/Province"
        />
    </div>

    <div class="form-group">
        <input
          formControlName="zipCode"
          name="zipCode" 
          id="zipCode"
          class="form-control col-xs-12 col-md-12"
          placeholder="Zip Code"
          type="number"
        />
    </div>

    <div class="form-group">
        <input
          formControlName="mobileNumber"
          name="mobileNumber" 
          id="mobileNumber"
          class="form-control col-xs-12 col-md-12"
          placeholder="Mobile Number"
        />
    </div>

    <div class="form-group">
        <input
          formControlName="emailId"
          name="emailId" 
          id="emailId"
          class="form-control col-xs-12 col-md-12"
          placeholder="Email"
          type="email"
        />
    </div>

    <div class="form-group">
        <input
          formControlName="password"
          name="password" 
          id="password"
          class="form-control col-xs-12 col-md-12"
          placeholder="Password"
          type="password"
        />
    </div>

      <div class="form-group">
        <input
          formControlName="password"
          name="password" 
          id="confirmPassword"
          class="form-control col-xs-12 col-md-12"
          placeholder="Confirm Password"
          type="password"
        />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-info">SUBMIT</button>
    </div>

</form>