
<form [formGroup]="insertForm" (ngSubmit)="onSubmit()" autocomplete="off">

    <div class="form-group">
        <input 
            formControlName="firstName"
            name="firstName" 
            id="firstName"
            class="form-control col-xs-12 col-md-12"
            placeholder="First Name"
        />
        <div *ngIf="formControls.firstName.touched && formControls.firstName.invalid" class="alert alert-danger">
            <div *ngIf="formControls.firstName.errors.required">First name is required.</div>
        </div>

    </div>

    <div class="form-group">
        <input
            formControlName="lastName"
            name="lastName" 
            id="lastName"
            class="form-control col-xs-12 col-md-12"
            placeholder="Last Name"
        />

        <div *ngIf="formControls.lastName.touched && formControls.lastName.invalid" class="alert alert-danger">
            <div *ngIf="formControls.lastName.errors.required">Last name is required.</div>
        </div>
    </div>

    <div class="form-group">
        <input
            formControlName="sex"
            name="sex" 
            id="sex"
            class="form-control col-xs-12 col-md-12"
            placeholder="Gender"
        />

        <div *ngIf="formControls.sex.touched && formControls.sex.invalid" class="alert alert-danger">
            <div *ngIf="formControls.sex.errors.required">Gender is required.</div>
        </div>
    </div>

    <div class="form-group">
        <input formControlName="dob"
                name="dob"
                id="dob"
                class="form-control col-xs-12 col-md-12"
                placeholder="dob" 
                type="date" />

        <div *ngIf="formControls.dob.touched && formControls.dob.invalid" class="alert alert-danger">
            <div *ngIf="formControls.dob.errors.required">Date of Birth is required.</div>
        </div>
    </div>

    <div class="form-group">
        <input
            formControlName="city"
            name="city" 
            id="city"
            class="form-control col-xs-12 col-md-12"
            placeholder="City"
        />

        <div *ngIf="formControls.city.touched && formControls.city.invalid" class="alert alert-danger">
            <div *ngIf="formControls.city.errors.required">City is required.</div>
        </div>
        
    </div>

    <div class="form-group">
        <select
          formControlName="state"
          name="state" 
          id="state"
          class="form-control col-xs-12 col-md-12"
          placeholder="State/Province"
        ><option  *ngFor="let state of states" value="state" >{{state}}</option> </select>
    </div>

    <div class="form-group">
        <input
            formControlName="registrationNo"
            name="registrationNo" 
            id="registrationNo"
            class="form-control col-xs-12 col-md-12"
            placeholder="Registration Number"
        />
        <div *ngIf="formControls.registrationNo.touched && formControls.registrationNo.invalid" class="alert alert-danger">
            <div *ngIf="formControls.registrationNo.errors.required">Registration number is required.</div>
        </div>
    </div>

    <div class="form-group">
        <input
          formControlName="zipCode"
          name="zipCode" 
          id="zipCode"
          class="form-control col-xs-12 col-md-12"
          placeholder="Zip Code"
          type="number"
        />
        <div *ngIf="formControls.zipCode.touched && formControls.zipCode.invalid" class="alert alert-danger">
            <div *ngIf="formControls.zipCode.errors.required">Zip code is required.</div>
        </div>
    </div>

    <div class="form-group">
        <input
          formControlName="mobileNumber"
          name="mobileNumber" 
          id="mobileNumber"
          class="form-control col-xs-12 col-md-12"
          placeholder="Mobile Number"
          maxlength="10"
        />

        <div *ngIf="formControls.mobileNumber.touched && formControls.mobileNumber.invalid" class="alert alert-danger" >
            <div *ngIf="formControls.mobileNumber.errors.required">Mobile Number is required.</div>
            <div *ngIf="formControls.mobileNumber.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
        </div>

    </div>

    <div class="form-group">
        <input
          formControlName="emailId"
          name="emailId" 
          id="emailId"
          class="form-control col-xs-12 col-md-12"
          placeholder="Email"
          type="email"
        />

        <div *ngIf="formControls.emailId.touched && formControls.emailId.invalid" class="alert alert-danger">
            <div *ngIf="formControls.emailId.errors.required">Email id is required.</div>
        </div>

    </div>

    <div class="form-group">
        <input
          formControlName="password"
          name="password" 
          id="password"
          class="form-control col-xs-12 col-md-12"
          placeholder="Password"
          type="password"
        />
        <div *ngIf="formControls.password.touched && formControls.password.invalid" class="alert alert-danger">
            <div *ngIf="formControls.password.errors.required">Password is required.</div>
        </div>
    </div>

      <div class="form-group">
        <input
          formControlName="password"
          name="password" 
          id="confirmPassword"
          class="form-control col-xs-12 col-md-12"
          placeholder="Confirm Password"
          type="password"
        />
        <div *ngIf="formControls.password.touched && formControls.password.invalid" class="alert alert-danger">
            <div *ngIf="formControls.password.errors.required">Confirm Password is required.</div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="button1" [disabled]="!insertForm.valid">SUBMIT</button>
    </div>

</form>