form {
    padding: 0 24px 24px 24px;
}

input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

div.validation-error{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.button1{
    color: #ffffff;
      margin-top: 20px;
      border: none;
      border-radius: 28px;
      background: #355E93;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
  }