<div id="clinician-container">
    <div id="title">
      <div class="wel-div">Welcome</div>
      <div class="username-div" id="">abdallah elgamal</div>
    </div>
  
    <div>      
      <ul>
        <li class="liItem">
          <div class="single-button-div screening-div">
            <button class="single-button-style" routerLink="">
              View Screenings<br>
              45 New Screenings
            </button>
          </div>
          <div class="single-button-div virtual-wards-div">
            <button class="single-button-style" routerLink="">
              Review Virtual Wards<br>
              Patients
            </button>
          </div>
          <div class="single-button-div heat-map-div">
            <button class="single-button-style" routerLink="">
              Heat Map
            </button>
          </div>
          <div class="profile-settings-div">
            <button class="profile-settings-button" routerLink="">My Profile</button>
            <button class="profile-settings-button settings-button" routerLink="">Settings</button>
          </div>
        </li>
      </ul>
    </div>
</div>