<div id="clinician-container">
    <div class="title">
      <div class="wel-div">Welcome <span class="username-span">abdallah</span></div>
    </div>
  
    <div>      
      <ul>
        <li class="liItem">
          <div class="button-card">
            <p class="dark-text">View Screenings</p>
            <p class="light-text"><span class="number-of-screenings">50</span> New Screenings</p>
            <a class="right-arrow-icon" routerLink=""><fa-icon [icon]="faChevronRight"></fa-icon></a>
          </div>
          <div class="button-card">
            <p class="dark-text">Review Virtual Wards<br>Patients</p>
            <p class="light-text"><span class="number-of-screenings">200</span> Patients</p>
            <a class="right-arrow-icon" routerLink=""><fa-icon [icon]="faChevronRight"></fa-icon></a>
          </div>
          <div class="button-card">
            <p class="dark-text">Heat Map</p>
            <p class="light-text">View Heat Map of Any Area</p>
            <a class="right-arrow-icon" routerLink=""><fa-icon [icon]="faChevronRight"></fa-icon></a>
          </div>
          <div class="profile-settings-div">
            <button class="profile-settings-button profile-button" routerLink=""><fa-icon [icon]="faUser"></fa-icon>My Profile</button>
            <button class="profile-settings-button settings-button" routerLink=""><fa-icon [icon]="faCog"></fa-icon>Settings</button>
          </div>
        </li>
      </ul>
    </div>
</div>